

{%- block checkbox_switch_widget -%}
{% set parent_label_class = parent_label_class|default('') -%}
{{ block('form_label') }} 
<label class="switch">
    <input autocomplete="false" type="checkbox" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
    <span class="switch-label" data-off="{{off|trans}}" data-on="{{on|trans}}"></span>
    <span class="switch-handle"></span>
</label>
{%- endblock checkbox_switch_widget -%}

{%- block color_widget -%}
<div class="input-group {{id}}">
    {{ block('form_widget') }} 
    {{ jsblocklater(block('color_widget_script')) }}
    <span class="input-group-addon"><i></i></span>
            {#{% if(lazyjs) %} {{ jsblocklater(block('color_widget_script')) }}{% endif%}#}
</div>
{%- endblock color_widget -%}

{%- block color_widget_script -%}
<script>
    $(function () {
        $('.{{id}}').colorpicker();
    });</script>
    {%- endblock color_widget_script -%}

{%- block datepicker_widget -%}
<div class="input-group date {{id}}">
    {{ block('form_widget') }} 
    {{ jsblocklater(block('datepicker_script')) }}
    <span class="input-group-addon">
        <span class="glyphicon {{icon}}"></span>
    </span>
    {#{% if(lazyjs) %}{{ jsblocklater(block('datepicker_script')) }}{% endif%}#}
</div>
{%- endblock datepicker_widget -%}

{%- block datepicker_script -%}
<script>
    $(function () {
        $(".{{id}}").datetimepicker();
    });</script>
    {%- endblock datepicker_script -%}

{%- block timer_widget -%}
<div class="input-group date {{id}}">
    {{ block('form_widget') }}
    {{ jsblocklater(block('timer_script')) }}
    <span class="input-group-addon">
        <span class="glyphicon {{icon}}"></span>
    </span>
    {#  {% if(lazyjs) %}{{ jsblocklater(block('timer_script')) }}{% endif%}#}
</div>
{%- endblock timer_widget -%}

{%- block timer_script -%}
<script>
    $(function () {
        $(".{{id}}").datetimepicker({format: 'LT'});
    });</script>
    {%- endblock timer_script -%}



{%- block duallistbox_widget -%}
<div class="input-group {{id}}">
    {{ block('form_widget') }}
    {{ jsblocklater(block('duallistbox_script')) }}

    {# {% if(lazyjs) %} {{ jsblocklater(block('duallistbox_script')) }}{% endif%}#}
</div>
{%- endblock duallistbox_widget -%}

{%- block duallistbox_script -%}
<script>
    $(function () {
        $('.{{full_name}}').DualListBox({json: false});
    });
</script>
{%- endblock duallistbox_script -%}



{%- block editor_widget -%}
<div class="input-group {{id}}">
    {{ block('form_widget') }} 
    <div id="{{full_name|replace("[","_")|replace("]","_")}}summernote" style="display:inline" class="font">{{value}}</div>
    {% if(lazyjs) %}
        {% if attr.lang is defined and attr.lang != "" %}
            <script src="{{ asset('assets/vendor/summernote/lang/summernote-' ~ attr.lang  ~ '.js') }}"></script>
        {% endif %}
        {{ jsblocklater(block('editor_script')) }}
    {% endif %}
</div>
{%- endblock editor_widget -%}

{%- block editor_script -%}
<script>
    $(function () {
  
        var log = console.log;
        var source = jQuery('#{{full_name|replace("[","_")|replace("]"," ")}}');     
        var maxLength = parseInt(source.attr("maxlength"));
        var summernote = '#{{full_name|replace("[","_")|replace("]","_")}}summernote';
        var summernote = jQuery(summernote).summernote({
            focus: {% if (attr.focus is defined and attr.focus == 'true') %}true{% else %}false{% endif %},
            {% if attr.lang is defined and attr.lang != "" %}
            lang: '{{ attr.lang }}',{% endif %}
            onKeydown: function (e) {
                if ((jQuery(this).code().length > maxLength) || maxLength == 0) {
                    if ((e.keyCode !== 8 // Backspace
                            && e.keyCode !== 37 // <-
                            && e.keyCode !== 38 // ->
                            && e.keyCode !== 39 // ->
                            && e.keyCode !== 40 // ->                                    
                            && e.keyCode !== 46)
                            || e.keyCode == 13) { // enter  
                        document.execCommand('insertHTML', false, '');
                        e.preventDefault();
                        return false;
                    }
                }
                source.val(summernote.code());                
            },
            onPaste: function (e) {
                if (jQuery(this).code().length > maxLength) {
                    e.preventDefault();
                }
            }
        });
    });
</script>

{# set do ustawienia twiga #}
{# {% set full_name = {{full_name|replace("[","_")|replace("]","_")}} %} #}
{%- endblock editor_script -%}

