

{%- block checkbox_switch_widget -%}
{% set parent_label_class = parent_label_class|default('') -%}

<label class="switch">
    <input autocomplete="false" type="checkbox" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
    <span class="switch-label" data-off="{{off|trans}}" data-on="{{on|trans}}"></span>
    <span class="switch-handle"></span>
</label>
{{ csslater( asset('assets/vendor/tmsolution-checkbox-switch/dist/css/checkbox-switch.css')) }}
{%- endblock checkbox_switch_widget -%}

{%- block linklabeledcheckbox_widget -%}
<div class="checkbox linklabeledcheckbox">
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
            {%- endif -%}
            {% if required -%}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {%- endif -%}
                {% if label is empty -%}
                    {%- if label_format is not empty -%}
                    {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
                    {%- else -%}
                    {% set label = name|humanize %}
                    {%- endif -%}
                    {%- endif -%}
                    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                        <input {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} type="checkbox" >
                        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
                        <a href="{{path(route,routeParams)}}">{{link|trans}}</a>
                    </label>
                    {%- endif -%}
                </div>

                {%- endblock linklabeledcheckbox_widget -%}








                {%- block color_widget -%}
                <div class="input-group colorpicker-container" id='{{id}}-button'>
                    {{ block('form_widget') }} 
                    <span class="input-group-addon colorpicker-element-addon"><i class="cp-value " style="color:rgb(255,255,255);background-color: {% if value %}{{value}}{%else%}{{defaultColor}}{%endif%};"></i></span>
                    
                    
                </div>
                {% if(lazyjs) %} {{ jsblocklater(block('color_widget_script')) }}{% endif%}
                {{ jslater( asset( 'assets/vendor/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')) }}
                {%- endblock color_widget -%}

                {%- block color_widget_script -%}
                
                
                <script>
                    $(function () {
                    $('#{{id}}-button').colorpicker({ format: 'rgba'});
                     
                
                 
                $('#{{id}}-button').colorpicker().on('changeColor.colorpicker', function(event){
                                
                        var rgb=event.color.toRGB();
                        var rgbString='rgba('+rgb.r+','+rgb.g +','+rgb.b+','+rgb.a+')';
                        
                        $('.color-picker-target').css('background-color',rgbString);
                    }); 
                    });</script>
                    {%- endblock color_widget_script -%}



                {%- block datepicker_widget -%}
                <div class="input-group date {{id}}">
                    {{ block('form_widget') }} 
                    <span class="input-group-addon">
                        <span class="glyphicon {{icon}}"></span>
                    </span>
                    {% if(lazyjs) %}{{ jsblocklater(block('datepicker_script')) }}{% endif%}
                </div>
                {{ csslater( asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')) }}
                {{ csslater( asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')) }}
                {{ jslater( asset('assets/vendor/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js')) }}
                {{ jslater( asset('assets/vendor/moment/moment.js')) }}
                {{ jslater( asset('assets/vendor/moment/locale/pl.js')) }}
                {%- endblock datepicker_widget -%}

                {%- block datepicker_script -%}
                <script>
                            $(function () {
                            $(".{{id}}").datetimepicker();
                            });</script>
                    {%- endblock datepicker_script -%}




                {%- block timer_widget -%}
                <div class="input-group date {{id}}">
                    {{ block('form_widget') }}
                    <span class="input-group-addon">
                        <span class="glyphicon {{icon}}"></span>
                    </span>
                    {% if(lazyjs) %}{{ jsblocklater(block('timer_script')) }}{% endif%}
                </div>
                {{ csslater( asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')) }}
                {{ csslater( asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')) }}
                {{ jslater( asset('assets/vendor/moment/moment.js')) }}
                {{ jslater( asset('assets/vendor/moment/locale/pl.js')) }}
                {{ jslater( asset('assets/vendor/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js')) }}

                {%- endblock timer_widget -%}

                {%- block timer_script -%}
                <script>
                            $(function () {
                            $(".{{id}}").datetimepicker({format: 'LT'});
                            });</script>
                    {%- endblock timer_script -%}



                {%- block duallistbox_widget -%}
                <div class="input-group {{id}}">
                    {{ block('form_widget') }}
                    {% if(lazyjs) %} {{ jsblocklater(block('duallistbox_script')) }}{% endif%}
                </div>
                {{ csslater( asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')) }}
                {{ jslater( asset('assets/vendor/duallistbox/dist/dual-list-box.min.js')) }}
                {%- endblock duallistbox_widget -%}

                {%- block duallistbox_script -%}
                <script>
                            $(function () {
                            $('.{{full_name}}').DualListBox({json: false});
                            });</script>
                    {%- endblock duallistbox_script -%}




                {%- block editor_widget -%}
                <div class="input-group {{id}}" id="editor {{id}}">
                    {{ block('form_widget') }} 
                    <div id="{{full_name|replace("[","_")|replace("]","_")}}summernote" style="display:inline" class="font">{{value}}</div>
                    {% if(lazyjs) %}
                        {{ jsblocklater(block('editor_script')) }}
                    {% endif %}
                </div>
                {{ csslater( asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')) }}
                {{ csslater( asset('assets/vendor/font-awesome/css/font-awesome.css')) }}
                {{ csslater( asset('assets/vendor/summernote/dist/summernote.css')) }}
                {{ jslater( asset('assets/vendor/summernote/dist/summernote.min.js')) }}
                {% if language != "" %}
                    {{ jslater( asset('assets/vendor/summernote/lang/summernote-' ~ language  ~ '.js')) }}
                {% endif %}
                {%- endblock editor_widget -%}

                {%- block editor_script -%}
                <script type="text/javascript">
                            jQuery(function () {
                            var source = $('#{{full_name|replace("[","_")|replace("]"," ")}}');
                                    var maxLength = parseInt(source.attr("maxlength"));
                                    var summernote = '#{{full_name|replace("[","_")|replace("]","_")}}summernote';
                                    var summernote = jQuery(summernote).summernote({
                    {% if language is defined and language != "" %}lang: '{{ language }}',{% endif %}
                    {% if attr.width  is defined and attr.width  > 0 %}width:{{ attr.width }},{% endif %}
                    {% if attr.height is defined and attr.height > 0 %}height:{{ attr.height }},{% endif %}
                                        onKeydown: function (e) {
                                        if (jQuery(this).code().length > maxLength || maxLength == 0) {
                                        if ((e.keyCode !== 8 // Backspace
                                                && e.keyCode !== 37
                                                && e.keyCode !== 38
                                                && e.keyCode !== 39
                                                && e.keyCode !== 40
                                                && e.keyCode !== 46)
                                                || e.keyCode == 13) {
                                        document.execCommand('insertHTML', false, '');
                                                e.preventDefault();
                                                return false;
                                        }
                                        }
                                        source.val(summernote.code());
                                        },
                                        onPaste: function (e) {
                                        if ($(this).code().length > maxLength) {
                                        e.preventDefault();
                                        }
                                        }
                                });
                                });</script>
                    {%- endblock editor_script -%}





                {%- block fileupload_widget -%}


                <div class=" {{id}}">
                    <div class="row"> 
                        <div class="col-md-12 col-sm-12 col-xs-12 m-b-10">
                            <span class="btn btn-success fileinput-button">
                                <i class="zmdi zmdi-plus zmdi-hc-fw"></i>
                                <span> {{'Add file...'|trans}}</span>
                                {{ block('form_widget') }}
                            </span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 files">

                        </div> 
                    </div>
                </div>

                {% if(lazyjs) %} {{ jsblocklater(block('fileupload_script')) }}{% endif%}

                {{ csslater( asset('assets/vendor/jquery-file-upload/css/jquery.fileupload.css')) }}

                {{ jslater( asset('assets/vendor/blueimp-tmpl/js/tmpl.min.js')) }}
                {{ jslater( asset('assets/vendor/blueimp-load-image/js/load-image.all.min.js')) }}
                {{ jslater( asset('assets/vendor/blueimp-canvas-to-blob/js/canvas-to-blob.min.js')) }}
                {{ jslater( asset('assets/vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.iframe-transport.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.fileupload.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.fileupload-process.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.fileupload-validate.js')) }}
                {{ jslater( asset('assets/js/jquery.fileupload-image.js')) }}
                {{ jslater( asset('assets/js/jquery.fileupload-audio.js')) }}
                {{ jslater( asset('assets/js/jquery.fileupload-video.js')) }}
                {{ jslater(  asset('assets/js/jquery.fileupload-ui.js')) }}
                {%- endblock fileupload_widget -%}

                {%- block fileupload_script -%}

                {% raw %}
                    <script id="template-upload" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}

                        <div class=" template-upload fade start">

                        <div class='col-sm-3 col-xs-8 p-l-0'>

                        <span class="preview"><i class="fa fa-file-text-o" style="font-size: 28px; margin-left: 5px;margin-top: 1px;"></i></span>
                        <span class="name">{%=file.name%}</span>

                        <span class=" size">{% endraw %}{{'Processing...'|trans}}{% raw %}</span>

                        <strong class="error text-danger"></strong>
                        </div>
                        <div class='col-sm-9 col-xs-4 p-r-0' >

                        <div class="progress active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                        </div>
                        </div>
                        {% } %}
                    </script>
                    <!-- The template to display files available for download -->
                    <script id="template-download" type="text/x-tmpl">

                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-download fade">
                        <td>
                        <span class="preview">
                        {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                        {% } %}
                        </span>
                        </td>
                        <td>
                        <p class="name">
                        {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?"data-gallery":""%}>{%=file.name%}</a>
                        {% } else { %}
                        <span>{%=file.name%}</span>
                        {% } %}
                        </p>
                        {% if (file.error) { %}
                        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                        {% } %}
                        </td>
                        <td>
                        <span class="size">{%=o.formatFileSize(file.size)%}</span>
                        </td>
                        <td>
                        {% if (file.deleteUrl) { %}
                        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields=\'{"withCredentials":true}\'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                        </button>
                        <input type="checkbox" name="delete" value="1" class="toggle">
                        {% } else { %}
                        <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                        </button>
                        {% } %}
                        </td>
                        </tr>
                        {% } %}
                    </script>
                {% endraw %}            
                <script>
                            $(function () {
                            "use strict";
                                    $("form[name='{{form.vars.form.parent.vars.name}}']").fileupload({
                            url: '{{form.vars.form.parent.vars.action}}',
                                    singleFileUploads: true,
                                    autoUpload: false,
                                    maxNumberOfFiles: 1,
                                    //maxFileSize: 999000,
                                    //acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                                    done: function (e, data) {
                                    //console.debug(data._response.result);

                                    if (data) {
                                    $().lazyLoader('render', data._response.result);
                                    }
                                    },
                                    fail: function (e, data) {
                                    },
                                    stop: function () {

                                    },
                    {%if filesContainer%}filesContainer:  $('{{filesContainer}}').first(),{% endif %}
                    {%if maxFileSize %}maxFileSize: {{maxFileSize}}{% else %}maxFileSize: 999000{% endif%},
                    {%if acceptFileTypes %}acceptFileTypes: /(\.|\/){{acceptFileTypes}}$/i {% else %}acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i{% endif%}


                                });
                                })
                </script>


                {%- endblock fileupload_script -%}


                {%- block fileuploadcollection_widget -%}


                <div class="{{id}} {% for attrname, attrvalue in attr %}{%if attrname=='class' %} {{ attrvalue }}{%endif%}{% endfor %}">
                    <div class="row"> 
                        <div class="col-md-12 col-sm-12 col-xs-12 m-b-10" >
                            <span class="btn btn-success fileinput-button">
                                <i class="zmdi zmdi-plus zmdi-hc-fw"></i>
                                <span> {{'Add file...'|trans}}</span>
                                <input type='file' name="{{formName}}[{{name}}]" />
                            </span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 files">

                        </div> 
                    </div>
                </div>

                {% if(lazyjs) %} {{ jsblocklater(block('fileuploadcollection_script')) }}{% endif%}

                {{ csslater( asset('assets/vendor/jquery-file-upload/css/jquery.fileupload.css')) }}

                {{ jslater( asset('assets/vendor/blueimp-tmpl/js/tmpl.min.js')) }}
                {{ jslater( asset('assets/vendor/blueimp-load-image/js/load-image.all.min.js')) }}
                {{ jslater( asset('assets/vendor/blueimp-canvas-to-blob/js/canvas-to-blob.min.js')) }}
                {{ jslater( asset('assets/vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.iframe-transport.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.fileupload.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.fileupload-process.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.fileupload-validate.js')) }}
                {{ jslater( asset('assets/js/jquery.fileupload-image.js')) }}
                {{ jslater( asset('assets/js/jquery.fileupload-audio.js')) }}
                {{ jslater( asset('assets/js/jquery.fileupload-video.js')) }}
                {{ jslater(  asset('assets/js/jquery.fileupload-collection.js')) }}
                {%- endblock fileuploadcollection_widget -%}

                {%- block fileuploadcollection_script -%}

                {% raw %}
                    <script id="template-upload" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}

                        <div class=" template-upload fade start">

                        <div class='col-sm-3 col-xs-8 p-l-0'>

                        <span class="preview"><i class="fa fa-file-text-o" style="font-size: 28px; margin-left: 5px;margin-top: 1px;"></i></span>
                        <span class="name">{%=file.name%}</span>

                        <span class=" size">{% endraw %}{{'Processing...'|trans}}{% raw %}</span>

                        <strong class="error text-danger"></strong>
                        </div>
                        <div class='col-sm-9 col-xs-4 p-r-0' >

                        <div class="progress active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                        </div>
                        </div>
                        {% } %}
                    </script>
                    <!-- The template to display files available for download -->
                    <script id="template-download" type="text/x-tmpl">

                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-download fade">
                        <td>
                        <span class="preview">
                        {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                        {% } %}
                        </span>
                        </td>
                        <td>
                        <p class="name">
                        {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?"data-gallery":""%}>{%=file.name%}</a>
                        {% } else { %}
                        <span>{%=file.name%}</span>
                        {% } %}
                        </p>
                        {% if (file.error) { %}
                        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                        {% } %}
                        </td>
                        <td>
                        <span class="size">{%=o.formatFileSize(file.size)%}</span>
                        </td>
                        <td>
                        {% if (file.deleteUrl) { %}
                        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields=\'{"withCredentials":true}\'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                        </button>
                        <input type="checkbox" name="delete" value="1" class="toggle">
                        {% } else { %}
                        <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                        </button>
                        {% } %}
                        </td>
                        </tr>
                        {% } %}
                    </script>
                {% endraw %}            

                <script>

                            $(function () {
                            "use strict";
                                    $.ajax({
                                    url: 'http://localhost/CallCenterProject/web/app_dev.php/panel/campaign/container/default/list',
                                            dataType: 'json'
                                    })

                                    $("form[name='{{form.vars.form.parent.vars.name}}']").fileupload({

                            singleFileUploads: true,
                                    autoUpload: false,
                                    maxNumberOfFiles: 10,
                                    parentName: '{{parentName}}',
                                    entityName: '{{entityName}}',
                                    createRoute:'{{createRoute}}',
                                    deleteRoute: '{{deleteRoute}}',
                                    listRoute: '{{listRoute}}',
                                    formData: [],
                                    maxNumberOfFiles: 1,
                    {%if filesContainer%}filesContainer:  $('{{filesContainer}}').first(),{% endif %}
                    {%if maxFileSize %}maxFileSize: {{maxFileSize}}{% else %}maxFileSize: 999000{% endif%},
                    {%if acceptFileTypes %}acceptFileTypes: /(\.|\/){{acceptFileTypes}}$/i {% else %}acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i{% endif%}



                                });
                                })
                </script>


                {%- endblock fileuploadcollection_script -%}



                {# set do ustawienia twiga #}
                {# {% set full_name = {{full_name|replace("[","_")|replace("]","_")}} %} #}



                {%- block fileuploadimage_widget -%}


                <div class="start files ">
                    {{ block('form_widget') }}
                </div>



                {% if(lazyjs) %} {{ jsblocklater(block('fileuploadimage_script')) }}{% endif%}

                {{ csslater( asset('assets/vendor/jquery-file-upload/css/jquery.fileupload.css')) }}

                {{ jslater( asset('assets/vendor/blueimp-tmpl/js/tmpl.min.js')) }}
                {{ jslater( asset('assets/vendor/blueimp-load-image/js/load-image.all.min.js')) }}
                {{ jslater( asset('assets/vendor/blueimp-canvas-to-blob/js/canvas-to-blob.min.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.iframe-transport.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.fileupload.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.fileupload-process.js')) }}
                {{ jslater( asset('assets/vendor/jquery-file-upload/js/jquery.fileupload-validate.js')) }}
                {{ jslater( asset('assets/js/jquery.fileupload-image.js')) }}
                {{ jslater(  asset('assets/js/jquery.fileupload-ui.js')) }}
                {%- endblock fileuploadimage_widget -%}

                {%- block fileuploadimage_script -%}

                {% raw %}

                    <script id="template-upload" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}

                        <div class="template-upload fade start">

                        <div class="preview col-md-12" style="width:500px">
                        </div>

                        <div class="error text-danger text-center f-20" ></div>
                        </div>

                        {% } %}
                    </script>
                    <!-- The template to display files available for download -->
                    <script id="template-download" type="text/x-tmpl">


                    </script>
                {% endraw %} <script>
                $(function () {
                "use strict";
                $("form[name='{{form.vars.form.parent.vars.name}}']").fileupload({
                url: '{{form.vars.form.parent.vars.action}}',
                singleFileUploads: true,
                autoUpload: false,
                maxNumberOfFiles: 1,
                {%if filesContainer%}filesContainer:  $('{{filesContainer}}').first(),{% endif %}
                {%if maxFileSize %}maxFileSize: {{maxFileSize}}{% else %}maxFileSize: 999000{% endif%},
                {%if acceptFileTypes %}acceptFileTypes: /(\.|\/){{acceptFileTypes}}$/i {% else %}acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i{% endif%},
                done: function (e, data) {

                if (data) {
                $().lazyLoader('render', data._response.result);
                }
                },
                fail: function (e, data) {
                },
                stop: function () {

                }


                });
                })
                </script>        
                {%- endblock fileuploadimage_script -%}


                {%- block fontawesomepicker_widget -%}

                <div class="">
                    <input id="{{id}}" type="text"  name="{{ full_name }}" class="form-control icp iconpicker-element iconpicker-input" value="{{value}}">
                    <i class="fp-value picker-target fa fa-2x {%if value %}{{ value }}{% else %}{{ defaultFont }}{% endif %}"></i>
                </div>

                {% if(lazyjs) %} {{ jsblocklater(block('fontawesomepicker_widget_script')) }}{% endif %}
                {{ jslater( asset('assets/vendor/fontawesome-iconpicker/dist/js/fontawesome-iconpicker.min.js')) }}
                {%- endblock fontawesomepicker_widget -%}

                {%- block fontawesomepicker_widget_script -%}
                <script>
                            $(function () {
                            $('#{{id}}').iconpicker({
                            placement:'bottomRight'
                            });
                                    $('#{{id}}').on('iconpickerSelected', function(e) {
                            $('.picker-target').get(0).className = 'picker-target fa-2x ' +
                                    e.iconpickerInstance.options.iconBaseClass + ' ' +
                                    e.iconpickerInstance.options.fullClassFormatter(e.iconpickerValue);
                            });
                            });</script>
                    {%- endblock fontawesomepicker_widget_script -%}





                {%- block rangeslider_widget -%}
                <div id="slider-{{id}}"></div>
                <input type="hidden" id="{{id}}" name="{{full_name}}" value="{{value}}"/>

                {% if(lazyjs) %} {{ jsblocklater(block('rangeslider_widget_script')) }}{% endif%}
                {{ jslater( asset('assets/vendor/ion.rangeslider/js/ion.rangeSlider.min.js')) }} 
                {%- endblock rangeslider_widget -%}

                {%- block rangeslider_widget_script -%}
                <script>
                            $(function () {
                            var slider{{id}} = $("#slider-{{id}}").ionRangeSlider({
                            
                            grid: false,
                                    from:{% for group_label, choice in choices %}{% if choice is selectedchoice(value) %}{{choice.value-1}}{% endif %}{% endfor %},
                                    values: [
                    {% for group_label, choice in choices %}
                                                "{{choice.label}}"{%if not loop.last %},{%endif%}{% endfor %}


                                        ]
                                });
                                        slider{{id}}.on("change", function () {
                                        var $this = $(this);
                                                var index = $this.data("from") + 1;
                                                var value = $this.prop("value");
                                                $("#{{id}}").val(index);
                                        });
                                });</script>
                        {%- endblock rangeslider_widget_script -%}


                    {%- block buttonselect_widget -%}
                    <div>
                        {% for group_label, choice in choices %}
                            <button class="btn filter-btn-{{id}}{% if choice is selectedchoice(value)%} btn-primary {%else%} btn-default {% endif %}waves-effect " type="button" value="{{choice.value}}">{{choice.label|trans}}</button>
                        {% endfor %}
                    </div>
                    <input type="hidden" id="{{id}}" name="{{full_name}}" value="{{value}}"/>

                    {% if(lazyjs) %} {{ jsblocklater(block('buttonselect_widget_script')) }}{% endif%}
                    {%- endblock buttonselect_widget -%}

                    {%- block buttonselect_widget_script -%}
                    <script>
                                $(function () {
                                $('.filter-btn-{{id}}').on('click', function(){

                                $('#{{id}}').val($(this).val());
                                        $(this).siblings('button').removeClass('btn-primary').addClass('btn-default');
                                        $(this).removeClass('btn-default').addClass('btn-primary');
                                        $(this).closest('form').submit();
                                });
                                });
                    </script>
                    {%- endblock buttonselect_widget_script -%}
                    
                    
                    
                    {%- block buttonchoiceselect_widget -%}
                    <div>
                        {% for group_label, choice in choices %}
                            <button class="btn filter-btn-{{id}}{% if choice is selectedchoice(value)%} btn-primary {%else%} btn-default {% endif %}waves-effect " type="button" value="{{choice.value}}">{{choice.label|trans}}</button>
                        {% endfor %}
                    </div>
                    <input type="hidden" id="{{id}}" name="{{full_name}}" value="{{value}}"/>

                    {% if(lazyjs) %} {{ jsblocklater(block('buttonselect_widget_script')) }}{% endif%}
                    {%- endblock buttonchoiceselect_widget -%}

                    {%- block buttonchoiceselect_widget_script -%}
                    <script>
                                $(function () {
                                $('.filter-btn-{{id}}').on('click', function(){

                                $('#{{id}}').val($(this).val());
                                        $(this).siblings('button').removeClass('btn-primary').addClass('btn-default');
                                        $(this).removeClass('btn-default').addClass('btn-primary');
                                        $(this).closest('form').submit();
                                });
                                });
                    </script>
                    {%- endblock buttonchoiceselect_widget_script -%}

